/*minify - >  header *(inline)*/



/*-------------------------------> some style <--------------------------------*/

header {
    padding-top: 40px;
}

.top-nav .logo {
    float: left;
}

.top-nav nav {
    float: right;
    padding: 14px 0;
}

.top-nav .logo, .top-nav nav, .top-nav nav ul li,  .top-nav nav a {
    display: inline-block;
    vertical-align: middle;
}

.top-nav nav a {
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 15px;
}

.top-nav nav a:hover {
    color: #fc6744;
}

.main-banner {
    text-align: center;
    padding-top: 138px;
    position: relative;
    background: url("img/temp/banner-bg.jpg") no-repeat;
    background-size: cover;
    z-index: 1;
}

.main-banner:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,0.7) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,0.7) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=0 );
    z-index: 2;
}

.main-banner .header-banner {
    position: relative;
    padding-bottom: 107px;
    z-index: 3;
}

.main-banner .description-text {
    width: 750px;
    margin: 0 auto;
    padding-top: 24px;
}

.form-box form {
    width: 372px;
    background: #fff;
    box-shadow: 0 0 57px rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 22px 35px;
    position: relative;
    z-index: 9;
}

.main-banner .h3 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 44px;
}

.form-box form textarea.input {
    min-height: 90px;
    margin-bottom: 13px;
}

.form-box form .btn:hover {
    box-shadow: 0 0 20px rgba(0,0,0, 0.4);
}
