<section id="featured" class="featured">
    <div class="page-width">
        <div class="header-box textalign-c">
            <div class="h1"><span>Featured</span> Works</div>
            <div class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga
                provident Libero.
            </div>
        </div>
        <div class="col-container clear-fix">
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-1.jpg" class="fancy-open"><img src="../img/temp/gallery-1.jpg" alt="gallery1"></a>
                </div>
            </div>
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-2.jpg" class="fancy-open"><img src="../img/temp/gallery-2.jpg" alt="gallery2"></a>
                </div>
            </div>
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-3.jpg" class="fancy-open"><img src="../img/temp/gallery-3.jpg" alt="gallery3"></a>
                </div>
            </div>
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-4.jpg" class="fancy-open"><img src="../img/temp/gallery-4.jpg" alt="gallery4"></a>
                </div>
            </div>
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-1.jpg" class="fancy-open"><img src="../img/temp/gallery-1.jpg" alt="gallery1"></a>
                </div>
            </div>
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-2.jpg" class="fancy-open"><img src="../img/temp/gallery-2.jpg" alt="gallery2"></a>
                </div>
            </div>
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-3.jpg" class="fancy-open"><img src="../img/temp/gallery-3.jpg" alt="gallery3"></a>
                </div>
            </div>
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-4.jpg" class="fancy-open"><img src="../img/temp/gallery-4.jpg" alt="gallery4"></a>
                </div>
            </div>
            <div class="col3">
                <div class="gallery-item">
                    <a data-fancybox="gallery" href="../img/temp/gallery-1.jpg" class="fancy-open"><img src="../img/temp/gallery-1.jpg" alt="gallery1"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services white-bg">
    <div class="page-width">
        <div class="header-box textalign-c">
            <div class="h1"><span>Services</span> We Provide</div>
            <div class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga
                provident Libero.
            </div>
        </div>
        <div class="tabs clear-fix">
            <ul class="tabs__caption clear-fix">
                <li class="active"><i class="sprite sprite-tab1"></i></li>
                <li><i class="sprite sprite-tab2"></i></li>
                <li><i class="sprite sprite-tab3"></i></li>
                <li><i class="sprite sprite-tab1"></i></li>
            </ul>
            <div class="tabs__content active">
                <h2>Modern App Design</h2>
                <div class="text-box">
                    <div class="img-box"><img src="../img/temp/apple-watch.png"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.</p>
                    <p>vitae eveniet quam rem unde facilis.</p>
                </div>
                <button class="btn"><span>+</span> Know More</button>
            </div>
            <div class="tabs__content">
                <h2>Modern App Design</h2>
                <div class="text-box">
                    <div class="img-box"><img src="../img/temp/apple-watch.png"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.</p>
                    <p>vitae eveniet quam rem unde facilis.</p>
                </div>
                <button class="btn"><span>+</span> Know More</button>
            </div>
            <div class="tabs__content">
                <h2>Modern App Design</h2>
                <div class="text-box">
                    <div class="img-box"><img src="../img/temp/apple-watch.png"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.</p>
                    <p>vitae eveniet quam rem unde facilis.</p>
                </div>
                <button class="btn"><span>+</span> Know More</button>
            </div>
            <div class="tabs__content">
                <h2>Modern App Design</h2>
                <div class="text-box">
                    <div class="img-box"><img src="../img/temp/apple-watch.png"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.</p>
                    <p>vitae eveniet quam rem unde facilis.</p>
                </div>
                <button class="btn"><span>+</span> Know More</button>
            </div>
        </div>
    </div>
</section>

<section id="team" class="team">
    <div class="page-width">
        <div class="header-box textalign-c">
            <div class="h1"><span>Team</span> Chinen & Skills</div>
            <div class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</div>
        </div>
        <div class="col-container clear-fix">
            <div class="col3">
                <div class="team-item">
                    <div class="img-box"><img src="../img/temp/team-img-1.jpg" alt="team-img-1"></div>
                    <div class="hover-box">
                        <div class="skillbar" data-percent="38">
                            <span class="skillbar-title">UI/UX  Design</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                        <div class="skillbar" data-percent="49">
                            <span class="skillbar-title">English</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                        <div class="skillbar" data-percent="55">
                            <span class="skillbar-title">Communication</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                    </div>
                    <div class="text-box">
                        <div class="h4">Bedi Manos</div>
                        <span>UI/UX Parena</span>
                        <div class="soc-links">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="team-item">
                    <div class="img-box"><img src="../img/temp/team-img-1.jpg" alt="team-img-1"></div>
                    <div class="hover-box">
                        <div class="skillbar" data-percent="38">
                            <span class="skillbar-title">UI/UX  Design</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                        <div class="skillbar" data-percent="49">
                            <span class="skillbar-title">English</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                        <div class="skillbar" data-percent="55">
                            <span class="skillbar-title">Communication</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                    </div>
                    <div class="text-box">
                        <div class="h4">Bedi Manos</div>
                        <span>UI/UX Parena</span>
                        <div class="soc-links">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="team-item">
                    <div class="img-box"><img src="../img/temp/team-img-1.jpg" alt="team-img-1"></div>
                    <div class="hover-box">
                        <div class="skillbar" data-percent="38">
                            <span class="skillbar-title">UI/UX  Design</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                        <div class="skillbar" data-percent="49">
                            <span class="skillbar-title">English</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                        <div class="skillbar" data-percent="55">
                            <span class="skillbar-title">Communication</span>
                            <p class="skillbar-bar orange-bg"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                    </div>
                    <div class="text-box">
                        <div class="h4">Bedi Manos</div>
                        <span>UI/UX Parena</span>
                        <div class="soc-links">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>