</main>

<footer>
    <div class="page-width textalign-c">
        <div class="btn-box"><button class="btn">Contact Us</button></div>
        <div class="copyright-box">
            <div class="soc-links">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            </div>
            <a href="#" class="copyright">© 2015 - 2016 Deviserweb Ltd.</a>
        </div>
    </div>
</footer>



<div class="hidden">
    <div class="form-box">
        <form>
            <div class="h3"><span>Send</span> A Message</div>
            <input class="input" type="text" placeholder="Your Name">
            <input class="input" type="email" placeholder="Your Email">
            <textarea class="input" placeholder="Your Message"></textarea>
            <button class="btn orange-bg">Send Message <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<!--<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="lib/jquery-star-rating-master/min/rating.js"></script>
<script type="text/javascript" src="lib/formstyler/jquery.formstyler.js"></script>
<script type="text/javascript" src="lib/owlcarousel2/owl.carousel.min.js"></script>
<script type="text/javascript" src="lib/progressbar-new/js/skill.bars.jquery.js"></script>
<script type="text/javascript" src="js/animate.js"></script>
<script type="text/javascript" src="lib/waypoints.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</body>
</html>
